@font-face {
  font-family: fontDefault;
  src: url("../../../assets/img/Pony.ttf");
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: fontDefault;
  font-size: 40px;

  &__message {
    font-size: 60px;
    padding-top: 100px;
    text-align: center;
    margin-bottom: 80px;
  }

  &__total {
  }
}
